:root {
  --primary: rgb(240, 211, 45);
  --secondary: rgb(204, 204, 204);
  --danger: rgb(188, 55, 55);
  --white: rgb(250, 250, 250);
  --main: rgb(220, 220, 220);

  --font-sm: 12px;
  --font-md: 16px;

  --border-color: #585858;
  --border-radius: 4px;

  --input-padding: 8px 16px;

  --bg-main: #eee;
  --bg-dropdown: #d5d5d5;
  --bg-transparent: rgba(7, 3, 2, 0.6);
  --bg-transparent-dark: rgba(7, 3, 2, 0.7);

  --shadow: 0 3px 7px -3px #3a3a3a;

  --transition-all: all 0.3s ease;
}

* {
  box-sizing: border-box;
}
hr {
  border: none;
  height: 1px;
  background-color: var(--border-color);
}
.app-form-control {
  margin-bottom: 8px;
}
.app-input {
  padding: var(--input-padding);
  display: block;
  width: 100%;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  transition: var(--transition-all);
  font-size: var(--font-md);
}
.app-input:focus {
  outline: none;
  border-color: var(--primary);
}
.app-textarea {
  padding: var(--input-padding);
  resize: none;
  display: block;
  width: 100%;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  transition: var(--transition-all);
  font-size: var(--font-md);
}
.app-textarea:focus {
  outline: none;
  border-color: var(--primary);
}
.app-label {
  display: block;
  font-size: var(--font-md);
}
.app-button {
  padding: 8px 16px;
  font-size: var(--font-md);
  text-transform: uppercase;
  margin-right: 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: var(--border-radius);
  transition: var(--transition-all);
  cursor: pointer;
  background-color: var(--main);
}

.app-button__primary:hover {
  background-color: var(--primary);
}
.app-button__secondary:hover {
  background-color: var(--secondary);
}
.app-button__danger:hover {
  background-color: var(--danger);
  color: var(--white);
}

.app-popup-content h3,
.app-popup-content h4 {
  margin-top: 0;
  margin-bottom: 4px;
}
.app-popup-content p {
  margin: 0;
  font-style: italic;
}

/* Оформление карты */
.leaflet-popup-content-wrapper {
  background-color: var(--bg-transparent);
  color: var(--white);
  border-radius: var(--border-radius);
}
.leaflet-popup-content {
  margin-left: 8px;
  margin-bottom: 4px;
}
.leaflet-popup-tip {
  background-color: var(--bg-transparent);
}
.leaflet-control-search.search-exp {
  background-color: var(--bg-transparent);
  border: none;
  border-radius: var(--border-radius);
}
.leaflet-control-search .search-input {
  background-color: transparent;
  border: none;
  min-width: 160px;
  color: var(--white);
}
.leaflet-control-search .search-input:focus {
  outline: none;
}
.leaflet-control-search.search-load .search-input {
  background-color: transparent;
  background-image: url("assets/loading.svg");
  background-repeat: no-repeat;
  background-position: center right;
}
.leaflet-control-search .search-button {
  background: url("assets/search.svg");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
}
.leaflet-control-search .search-button:hover {
  background: url("assets/search.svg");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}
.leaflet-control-search .search-tooltip {
  min-width: 100%;
}

.leaflet-control-search .search-tip {
  background-color: var(--bg-transparent);
  color: var(--white);
}
.leaflet-control-search .search-tip:hover {
  background-color: var(--bg-transparent-dark);
}
